html, body{
  width: 100%;
  height: 100%;
}
body{
 background-color: #060e1a;
  font-size: 18px;
  background-size: cover;
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
}
div.inputsForm{
  min-width: 560px; 
} 
.inputsForm{
  display: grid;
  align-items: center;
  text-align: center;
  justify-self: center;
  margin: 0 auto;
}
input{
  padding: 5px 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  width: 250px;
  position: relative;
  top: 40px;
}
.veriSayisi{
  margin: 30px auto;
  background: rgb(248, 248, 248);
  width: max-content;
  text-align: start;
  border-radius: 12px;
  padding:10px 10px;
  position: relative;
  left: 130px;
  bottom: 42px;
}
.btnClass{
 position: relative;
 top: 50px;
}
.filtered{
  position: relative;
  width: 220px;
  padding: 10px 10px;
  display: flex;
  margin: 0 auto;
  right: 130px;
  top: 30px;
  justify-content: center;
  align-items: center;
}
.addClick{
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  width: 100px;
  padding: 5px 10px;
  border: none;
  font-weight: 750;
  transition: 300ms;
}
ul{
  background-image: url("https://cdn.wallpapersafari.com/87/66/g7uPjL.jpg");
  border: 1px ;
  border-radius: 12px; 
  box-shadow: 3px 14px 14px -2px #1a121294;
  list-style: none;
  display: grid;
  width: 500px;
  margin:  0px auto;
  margin-top: 100px;   
}
@media only screen and (max-width: 560px) {
  ul {
      position: relative;
      left: 10px;
  }
}
.todoBar{
  display: flex;
  position: relative;
  top: 0px;
  border-radius: 12px; 
  text-align: center;
  background-color: #001b41;
  right: 40px;
  height: 50px;
  width: 108%; 
}
.red{
  background-color: #ff5f58;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  position: relative;
  top: 20px;
  margin-left: 45px; 
}
.yellow{
  background-color: #febc2e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  position: relative;
  top: 20px;
  margin-left: 5px; 
}
.green{
  background-color: #29c83f;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  position: relative;
  top: 20px;
  margin-left: 5px; 
}
a{
  text-decoration:none;
  background: none;
  color: #ffffff;
}
.logo{
  position: relative;
  display: flex;
  left: 400px;
  align-items: center;
  border: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
}
.logo:hover{
  transform: scaleX(1.3);  
}

ul li{
  display: flex;
  padding: 5px 15px;
  position: relative;
  bottom: 50px;
  margin-bottom: 12px;
  background: rgb(248, 248, 248);
  width: 400px;
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: max-content;
  border-radius: 12px;
  position: relative;
  max-width: 500px;
  max-height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-between;
}
.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px 42px;
  background: #bcc7ec;
  color: rgb(14, 8, 8);
  font-size: 18px;
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 300ms all;
}
.alert.active{
  top: 20px;
  opacity: 1;
  visibility: visible;
}
